<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

</head>
<body>


<div>

    <form method="GET" th:action="@{/IndividualMarks}">

        <label> Enter Registration No:</label>
        <input type="text" name="regNo"/>

        <br>


        <input type="submit" value="Submit">




    </form>

    <div th:if="${student != null}">

        <table border="1">
            <tr>
                <th>RegNo</th>
                <th>Student Name</th>
                <th>Quiz01</th>
                <th>Quiz02</th>
                <th>Quiz03</th>
                <th>Mid_Marks</th>
                <th>End_Marks</th>
                <th>Total</th>
                <th>Grade</th>
                <th>Subject_Name</th>
                <th>Subject_code</th>


            </tr>

            <tr th:each="m : ${student.marks}">
                <td th:text="${student.regNo}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${m.Quiz01}"></td>
                <td th:text="${m.Quiz02}"></td>
                <td th:text="${m.Quiz03}"></td>
                <td th:text="${m.midMarks}"></td>
                <td th:text="${m.endMarks}"></td>
                <th th:text="${m.totalMarks}"></th>
                <th th:text="${m.grade}"></th>
                <td th:text="${m.subjectName}"></td>
                <td th:text="${m.subjectCode}"></td>

            </tr>
        </table>




    </div>




    <div th:if="${error != null}">
        <p th:text="${error}" style="color: red"></p>
    </div>





</div>












</body>
</html>