<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/home.css}" />
</head>
<body>

<div class="container">
    <div class="child1">
        <h1>Welcome</h1>
        <ol>
            <li><a th:href="@{/addmarks}">Add Marks</a></li>
            <li><a th:href="@{/updatemarks}">Update Marks</a></li>
            <li><a th:href="@{/displayallmarks}">Display All Marks</a></li>
            <li><a th:href="@{/individualmarks}">Display Individual Student Marks</a></li>
            <li><a th:href="@{/}">Home</a></li>

        </ol>
    </div>
</div>














</body>
</html>