<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/home.css}" />
</head>
<body>

<div class="container">
    <div class="child1">
        <h1>Welcome</h1>
        <ol>
            <li><a th:href="@{/Add_Student}">Add a Student</a></li>
             <li><a th:href="@{/viewstudent}">View a Student</a></li>
            <li><a th:href="@{/updateStudent}">Update a Student</a></li>
            <li><a th:href="@{deletestudent}">Delete a Student</a></li>
            <li><a th:href="@{/}">Home</a></li>

        </ol>
    </div>
</div>














</body>
</html>